<div class="main_container">
  <div id="main_ball"></div>
  <div id="block"></div>
  <div class="point_block" id="block_left"></div>
  <div class="point_block active" id="block_right"></div>

  <div class="scoreboard">Your Score is: <div id="score">0</div></div>
  <div class="instructions">
    <span class="glyphicon glyphicon-arrow-left"></span> to go left,
    <span class="glyphicon glyphicon-arrow-right"></span> to go right, space to jump. <br>
    Get as much green boxes as you can! Goodluck!
  </div>
</div>
