html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main_container {
  height: 95vh;
  border: 1px solid red;
  // position: relative;
}

#main_ball {
  height: 100px;
  width: 100px;
  left: 20px;
  position: fixed;
  bottom: 40px;
  background-image: image_url('ball.png');
  background-size: 100px 100px;
}

#block {
  height: 200px;
  width: 200px;
  position: fixed;
  left: 400px;
  bottom: 40px;
  background-color: blue;

}