html {
  box-sizing: border-box;
  margin-left: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main_container {
  height: 95vh;
  border: 1px solid red;
  width: 864px;
  position: relative;
  display: inline-block;
}

#main_ball {
  height: 100px;
  width: 100px;
  left: 20px;
  position: fixed;
  bottom: 40px;
  background-image: image_url('ball.png');
  background-size: 100px 100px;
}

#block {
  height: 100px;
  width: 50px;
  position: fixed;
  left: 417px;
  bottom: 35px;
  background-color: red;
}

#block_left{
}

#block_right {
  left: 474px;
}

.scoreboard {
  position: fixed;
  height: 50px;
  width: 100px;
  margin-left: 10px;
  display: inline-block;
  #score{
    display: inline-block;
  }
}

.point_block {
  position: fixed;
  height: 150px;
  width: 400px;
  bottom: 35px;
  background-color: green;
  opacity: 0; 
}

.active {
  opacity: .5
}

.instructions {
  position: fixed;
  left: 500px;
}

.leaderboard {
  border: 1px solid blue;
  display: inline-block;
  height: 95vh;
  width: 200px;
  position: fixed;
}